$color-primary: hsl(300, 43%, 22%);
$color-primary--light: hsl(333, 80%, 67%);
$color-secondary: hsl(0, 0%, 100%);
$color-secondary--dark: hsl(303, 10%, 53%);
$color-secondary--light: hsl(300, 24%, 96%);

$font-primary: 'Spartan', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: $font-primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $color-secondary;
  background-image: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 105%, 100%;

  @media (min-width: 595px) {
    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
    background-size: 50%, 80%;
    background-position: top -23% left -9%, bottom right -30%;
  }
}
