$color-primary: hsl(300, 43%, 22%);
$color-primary--light: hsl(333, 80%, 67%);
$color-secondary: hsl(0, 0%, 100%);
$color-secondary--dark: hsl(303, 10%, 53%);
$color-secondary--light: hsl(300, 24%, 96%);

$font-primary: 'Spartan', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
}
